.advantages {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $advantages-background;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages__item--change {
  background-color: $advantages-change;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
  }
}

.advantages__item--direction {
  flex-direction: row-reverse;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.advantages__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__subject {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.advantages__number {
  font-size: 14px;
  color: $white;
}

.advantages__description {
  font-size: 14px;
  color: $white;
}

.advantages__picture {
  background-color: $light-grey;
}

.advantages__img {
  width: auto;
  height: 100%;
}
