.gallery {
  box-sizing: border-box;
}

.gallery__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.gallery__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 14px;
    margin-bottom: 78px;
    padding: 0 150px;
  }

  @media (min-width: $breakpoint-desktop-width) {
    padding: 0 380px;
    line-height: 25px;
  }
}
