.page-header {
  position: relative;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: $desktop-width;
}

.page-header__intro {
  background-color: $dark-grey;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 389px;
}

.page-header__intro--index {
  background-image: url("../img/backgrounds/back-mobile-index.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/back-mobile-index@2x.jpg");
    background-size: auto;
  }

  @media (min-width: 321px) {
    background-image: url("../img/backgrounds/back-tablet-index.jpg");
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/back-tablet-index@2x.jpg");
      height: 518px;
    }
  }

  @media (min-width: 767px) {
    background-image: url("../img/backgrounds/back-desktop-index.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/back-desktop-index@2x.jpg");
    }
  }
}
