.page-header {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.page-header__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  min-width: $breakpoint-mobile-width;

  @media (min-width: $breakpoint-desktop-width) {
    width: $breakpoint-desktop-width;
    margin: 0 auto;
  }
}

.page-header__intro {
  position: relative;
  background-color: $color-primary;
  background-repeat: no-repeat;
  padding-top: 52px;
  padding-bottom: 59px;
  background-image: url("../../img/backgrounds/back-mobile.jpg");
  background-position: 50% bottom;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/backgrounds/back-mobile@2x.jpg");
  }

  @media (min-width: $breakpoint-tablet-width) {
    background-image: url("../../img/backgrounds/back-tablet-desk.jpg");
    padding-top: 95px;
    padding-bottom: 110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/backgrounds/back-tablet-desk@2x.jpg");
    }

    @media (min-width: $breakpoint-desktop-width) {
      padding-top: 101px;
      padding-bottom: 113px;
    }
  }

  &--index {
    background-image: url("../../img/backgrounds/back-mobile-index.jpg");
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 78px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/backgrounds/back-mobile-index@2x.jpg");
      background-size: cover;
    }

    @media (min-width: $breakpoint-mobile-width+1) {
      background-image: url("../../img/backgrounds/back-tablet-index.jpg");
      padding-top: 77px;
      padding-bottom: 84px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/backgrounds/back-tablet-index@2x.jpg");
        background-size: cover;
      }
    }

    @media (min-width: $breakpoint-tablet-width+1) {
      background-image: url("../../img/backgrounds/back-desktop-index.jpg");
      background-size: cover;
      padding-top: 76px;
      padding-bottom: 85px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/backgrounds/back-desktop-index@2x.jpg");
        background-size: cover;
      }
    }

    @media (min-width: $breakpoint-desktop-width) {
      padding-top: 76px;
      padding-bottom: 85px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: url("../../img/intro-triangle.svg") center 0 no-repeat;
    width: 100%;
    height: 57px;
  }
}

.page-header__img {
  @media (min-width: $breakpoint-tablet-width) {
    width: 457px;
    height: 78px;
  }

  @media (min-width: $breakpoint-desktop-width) {
    width: 460px;
    height: 80px;
  }

  &--index {
    width: 282px;
    height: 214px;

    @media (min-width: $breakpoint-tablet-width) {
      width: 461px;
      height: 350px;
    }
  }
}
