.page-main {
  position: relative;
  box-sizing: border-box;
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  min-width: $breakpoint-mobile-width;

  @media (min-width: $breakpoint-desktop-width) {
    width: $breakpoint-desktop-width;
    margin: 0 auto;
  }
}
