.page-footer {
  position: relative;
}

.page-footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: $breakpoint-mobile-width;
  padding: 40px 60px 40px 60px;

  @media (min-width: $breakpoint-tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $breakpoint-desktop-width) {
    width: $breakpoint-desktop-width;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-footer__tag {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $breakpoint-tablet-width) {
    margin: 0;
  }
}
