.page-main {
  position: relative;
  box-sizing: border-box;
}

.page-main__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  min-width: $breakpoint-mobile-width;

  @media (min-width: $breakpoint-desktop-width) {
    width: $breakpoint-desktop-width;
    margin: 0 auto;
  }

  &--form {
    @media (min-width: $breakpoint-tablet-width) {
      padding: 60px;
    }
  }
}

.page-main__gallery {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

.page-main__title {
  font-size: 18px;
  margin: 0;
  padding-bottom: 20px;
  line-height: 26px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 30px;
  }
}

.page-main__text {
  margin: 0;
  padding-bottom: 20px;
}
