.popup {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  height: min-content;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: $color-background-base;
  text-align: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 2;

  &--open {
    display: flex;
    justify-content: center;
  }

  &--error {
    padding: 40px 45px 35px 45px;
    max-width: 400px;

    @media (min-width: $breakpoint-tablet-width) {
      padding: 39px 45px 50px 45px;
      width: 400px;
    }
  }

  &--review {
    @media (min-width: $breakpoint-tablet-width) {
      width: 640px;
    }
  }
}

.popup__button-wrapper {
  box-sizing: border-box;
  background-color: $color-tertiary;
  padding: 20px;
  width: 100%;

  @media (min-width: $breakpoint-tablet-width) {
    padding: 44px 91px;
  }
}

.popup__content {
  &--review {
    padding: 41px 40px 39px 40px;

    @media (min-width: $breakpoint-tablet-width) {
      padding: 94px 110px 44px 110px;
    }
  }
}

.popup__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;

    &--error {
      margin: 0 auto 24px auto;
      width: 240px;
    }
  }
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  &--error {
    margin-bottom: 24px;

    @media (min-width: $breakpoint-tablet-width) {
      margin-bottom: 56px;
    }
  }
}

.popup__button {
  font-size: 18px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 21px;
  }

  &--error {
    width: 180px;

    @media (min-width: $breakpoint-tablet-width) {
      width: 272px;
    }
  }
}

.popup__br {
  @media (min-width: $breakpoint-desktop-width) {
    display: none;
  }
}
