.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media (min-width: $breakpoint-tablet-width) {
    margin: 0;
  }
}

.social-list__item {
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 6px;
  }

  @media (min-width: $breakpoint-tablet-width) {
    margin: 6px 6px 7px -2px;
  }
}

.social-list__link {
  display: flex;
  width: 48px;
  height: 48px;
  color: $color-text-secondary;
  background-color: $color-primary;
  justify-content: center;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active {
    background-color: $color-primary-down;
  }

  &:active .social-list__icon {
    opacity: 0.3;
  }
}

.social-list__icon {
  align-self: center;
}
