.user-comment {
  border: none;
  margin: 0;
  margin-bottom: 46px;

  @media (min-width: $breakpoint-tablet-width) {
    grid-column-start: -1;
    grid-column-end: 1;
    padding: 0;
    border-top: 1px solid $color-form-hover;
  }
}

.user-comment__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 55px;
    width: 400px;
  }
}

.user-comment__comment {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 160px;
}

.user-comment__textarea {
  box-sizing: border-box;
  display: block;
  border: none;
  width: 100%;
  background-color: $color-tertiary;
  min-height: 160px;
  padding: 13px 21px 29px 21px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  color: $color-text-primary;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: $color-form-hover;
  }

  &:active {
    background-color: inherit;
    outline: 4px solid $color-form-hover;
  }

  &:focus {
    background-color: inherit;
    outline: 4px solid $color-form-hover;
  }

  &::placeholder {
    color: $color-text-primary;
  }

  @media (min-width: $breakpoint-tablet-width) {
    padding: 18px 21px 29px 21px;
  }
}
