.user-contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 10px;

  @media (min-width: $breakpoint-tablet-width) {
    grid-column-start: -1;
    grid-column-end: 1;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $color-form-hover;
    flex-wrap: wrap;
  }
}

.user-contacts__item {
  display: flex;
  flex-direction: column;
  padding-top: 1px;

  @media (min-width: $breakpoint-desktop-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
}

.user-contacts__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 18px;

  @media (min-width: $breakpoint-tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $breakpoint-desktop-width) {
    margin-bottom: 74px;
  }
}

.user-contacts__label {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;

  @media (min-width: $breakpoint-tablet-width) {
    padding-left: 0;
    padding-bottom: 0;
  }

  @media (min-width: $breakpoint-tablet-width) {
    padding-right: 18px;
  }
}

.user-contacts__inputs {
  position: relative;
  display: flex;
  flex-direction: row;

  &::before {
    position: absolute;
    content: " ";
    display: block;
    right: 0;
    width: 58px;
    height: 58px;
    z-index: 2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $color-form-complementary;
  }

  &--mail::before {
    background-image: url("../../img/icons/mail.svg");
  }

  &--tel::before {
    background-image: url("../../img/icons/phone.svg");
  }

  @media (min-width: $breakpoint-tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: $breakpoint-desktop-width) {
    padding-bottom: 0;
    width: 316px;
  }
}

.user-contacts__input {
  background-color: $color-tertiary;
  border: none;
  min-height: 58px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  padding: 0;
  padding-left: 21px;
  margin-bottom: 11px;

  &:hover {
    background-color: $color-form-hover;
  }

  &:active {
    background-color: inherit;
    outline: 4px solid $color-form-hover;
  }

  &:focus {
    background-color: inherit;
    outline: 4px solid $color-form-hover;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
    color: $color-text-primary;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  @media (min-width: $breakpoint-desktop-width) {
    margin-bottom: 0;
  }
}

.user-contacts__icons {
  box-sizing: border-box;
  display: flex;
  width: 58px;
  height: 58px;
  background-color: $color-form-complementary;
  justify-content: center;
}

.user-contacts__icon {
  align-self: center;
}

.user-contacts__hidden {
  @media (min-width: $breakpoint-desktop-width) {
    display: none;
  }
}
