$color-text-primary: rgb(0, 0, 0);
$color-text-secondary: rgb(255, 255, 255);
$color-background-base: rgba(255, 255, 255, 1);
$color-primary: rgba(129, 179, 210, 1);  // $light-blue: $button-color: $button-disable: $nav-hover:  $button-disable:
$color-primary-hover: rgba(102, 158, 192, 1);
$color-primary-down: rgba(84, 150, 189, 1);
$color-secondary: rgba(238, 238, 238, 1);
$color-tertiary: rgba(242, 242, 242, 1);
$color-form-complementary: rgba(230, 230, 230, 1);
$color-form-hover: rgba(229, 229, 229, 1);
$color-form-down: rgba(213, 213, 213, 1);
$color-features-background: rgba(238, 238, 238, 1);
$color-button-disable: rgba(229, 229, 229, 1);
$padding-base: 20px;
//
$breakpoint-mobile-width: 320px;
$breakpoint-tablet-width: 768px;
$breakpoint-desktop-width: 1200px;
