$white: rgba(255, 255, 255, 1);
$light-blue: rgba(129, 179, 210, 1);
$blue: rgba(102, 158, 192, 1);
$dark-blue: rgba(102, 158, 192, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(229, 229, 229, 1);
$light-grey: rgba(229, 229, 229, 1);
$dark-grey: rgba(118, 99, 87, 1);
$advantages-background: $grey;
$advantages-change: $light-blue;
$text: $black;
$button-color: $light-blue;
$button-hover: $blue;
$button-active: $dark-blue;
$button-disable: $light-blue;
$nav-active: $dark-grey;
$nav-hover: $light-blue;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
